## **Introduction**
<b>SoFIFA</b> (https://sofifa.com/) is a website that stores data of players in the popular soccer game FIFA whose stats closely reflect the performance of real-life soccer players.

## **Import library**

Since our collected data will be very large, I will collect data quickly by using a library called `scrapy`.

For more information on how to use this library, you can refer to the following website: https://docs.scrapy.org/en/latest/intro/tutorial.html.

In [ ]:
!pip install scrapy
!pip install spider3
!pip install pandas

***Library***:
- `pandas`: Use to transform data having parsed from *sofifa* HTML.
- `json`: read and write the data that was extracted from *sofifa*.
- `np`, `datetime`
- `re`(`regex`): deal with string data.

In [16]:
import pandas as pd
import json
import numpy as np
from datetime import datetime
import re

## **Extract**

- Go to "fifa_crawler" directory to access **extract** process.

In [ ]:
%cd fifa_crawler

- To avoid **hitting** the site too many times, instead of collecting all the player IDs we only collect 720 player IDs. To make it easier, we start with a urls path containing offset format: https://sofifa.com/players?col=oa&sort=desc&offset=0 (each player page with each page containing 60 different players) so that we can easily switch to a new page while collecting.

- Because `scrapy` can't use notebook directly so I create a file **collect_players_urls.py** in ***fifa_crawler/fifa_crawler/spiders/collect_players_urls.py*** and run it by the command blow  to collect the IDs of the soccer players and save them to a file named **players_urls.json** which is contained in the *dataset* folder.

In [ ]:
!scrapy crawl players_urls -o dataset/players_urls.json

- Do the same as **players_urls** above. After finishing a list of 720 player IDs extracted from the SoFIFA website, we will collect specific data for each player corresponding to these IDs by completing the class **collect_player_info** in ***fifa_crawler/fifa_crawler/spiders/collect_players_info.py*** and run the command below to extract information from HTML.

In [ ]:
!scrapy crawl players_info -o dataset/players_info.json

In [ ]:
%cd ..

## Transform

In [19]:
df = pd.read_json('./fifa_crawler/dataset/players_info.json')
df.head()

,id,name,positions,age,birth_date,height,weight,Overall rating,Potential,Value,...,teams,Player specialities,Attacking,Skill,Movement,Power,Mentality,Defending,Goalkeeping,PlayStyles
0,239085,Erling Braut Håland,[ST],23,"Jul 21, 2000",195,94,91,93,€172.5M,...,"{' Manchester City': '86 ', ' Norway': '77 '}","[#Aerial threat, #Distance shooter, #Strength,...","{'Crossing': '58', 'Finishing': '96', 'Heading...","{'Dribbling': '79', 'Curve': '77', 'FK Accurac...","{'Acceleration': '80', 'Sprint speed': '94', '...","{'Shot power': '94', 'Jumping': '92', 'Stamina...","{'Aggression': '88', 'Interceptions': '43', 'A...","{'Defensive awareness': '38', 'Standing tackle...","{'GK Diving': '7', 'GK Handling': '14', 'GK Ki...","[Power Shot, Power Header, Bruiser, Press Proven]"
1,231866,Rodrigo Hernández Cascante,"[CDM, CM]",28,"Jun 22, 1996",191,82,91,91,€115.5M,...,"{' Manchester City': '86 ', ' Spain': '84 '}",[#Distance shooter],"{'Crossing': '76', 'Finishing': '74', 'Heading...","{'Dribbling': '84', 'Curve': '86', 'FK Accurac...","{'Acceleration': '65', 'Sprint speed': '66', '...","{'Shot power': '92', 'Jumping': '83', 'Stamina...","{'Aggression': '85', 'Interceptions': '84', 'A...","{'Defensive awareness': '92', 'Standing tackle...","{'GK Diving': '10', 'GK Handling': '10', 'GK K...","[Power Shot, Long Ball Pass, Bruiser, Press Pr..."
2,231747,Kylian Mbappé Lottin,"[ST, LW]",25,"Dec 20, 1998",182,75,91,94,€176M,...,"{' Real Madrid': '86 ', ' France': '84 '}","[#Speedster, #Dribbler, #Acrobat, #Clinical fi...","{'Crossing': '78', 'Finishing': '94', 'Heading...","{'Dribbling': '93', 'Curve': '80', 'FK Accurac...","{'Acceleration': '97', 'Sprint speed': '97', '...","{'Shot power': '90', 'Jumping': '88', 'Stamina...","{'Aggression': '64', 'Interceptions': '38', 'A...","{'Defensive awareness': '26', 'Standing tackle...","{'GK Diving': '13', 'GK Handling': '5', 'GK Ki...","[Finesse Shot, Rapid, Flair, Trivela, Acrobati..."
3,252371,Jude Victor William Bellingham,"[CAM, CM]",21,"Jun 29, 2003",186,75,90,94,€174.5M,...,"{' Real Madrid': '86 ', ' England': '85 '}","[#Dribbler, #Playmaker , #Clinical finisher, #...","{'Crossing': '66', 'Finishing': '90', 'Heading...","{'Dribbling': '89', 'Curve': '73', 'FK Accurac...","{'Acceleration': '81', 'Sprint speed': '80', '...","{'Shot power': '85', 'Jumping': '84', 'Stamina...","{'Aggression': '85', 'Interceptions': '82', 'A...","{'Defensive awareness': '77', 'Standing tackle...","{'GK Diving': '14', 'GK Handling': '11', 'GK K...","[Intercept, Slide Tackle, Technical, Flair]"
4,238794,Vinicius José Paixão de Oliveira Junior,"[LW, ST]",23,"Jul 12, 2000",176,73,90,94,€171.5M,...,"{' Real Madrid': '86 ', 'null': None}","[#Speedster, #Dribbler, #Acrobat, #Clinical fi...","{'Crossing': '81', 'Finishing': '89', 'Heading...","{'Dribbling': '93', 'Curve': '79', 'FK Accurac...","{'Acceleration': '95', 'Sprint speed': '95', '...","{'Shot power': '81', 'Jumping': '74', 'Stamina...","{'Aggression': '58', 'Interceptions': '26', 'A...","{'Defensive awareness': '32', 'Standing tackle...","{'GK Diving': '5', 'GK Handling': '7', 'GK Kic...","[Finesse Shot, Chip Shot, Rapid, Flair, First ..."

In [148]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        41 non-null     int64
 1   name                      41 non-null     object
 2   positions                 41 non-null     object
 3   age                       41 non-null     int64
 4   birth_date                41 non-null     object
 5   height                    41 non-null     int64
 6   weight                    41 non-null     int64
 7   Overall rating            41 non-null     int64
 8   Potential                 41 non-null     int64
 9   Value                     41 non-null     object
 10  Wage                      41 non-null     object
 11  Preferred foot            41 non-null     object
 12  Skill moves               41 non-null     int64
 13  Weak foot                 41 non-null     int64
 14  International reputation  41 non-null     int64
 15  Body type                 41 non-null     object
 16  Real face                 41 non-null     object
 17  Release clause            40 non-null     object
 18  Acceleration Type         41 non-null     object
 19  teams                     41 non-null     object
 20  Player specialities       41 non-null     object
 21  Attacking                 41 non-null     object
 22  Skill                     41 non-null     object
 23  Movement                  41 non-null     object
 24  Power                     41 non-null     object
 25  Mentality                 41 non-null     object
 26  Defending                 41 non-null     object
 27  Goalkeeping               41 non-null     object
 28  PlayStyles                41 non-null     object
dtypes: int64(9), object(20)
memory usage: 9.4+ KB

### Split player's attributes

- *'Attacking', 'Skill', 'Movement', 'Power', 'Mentality', 'Defending', 'Goalkeeping'* columns are dictionary(key - value). So we should split it to another dataframe for more interactive and futher analysis.
- New dataframe contains specific attribute and player's id(PK).

In [ ]:
def split_player_attributes(df):
    split_columns = ['Attacking', 'Skill', 'Movement', 'Power',
       'Mentality', 'Defending', 'Goalkeeping']
    for col in split_columns:
        dict = [{'id' : int(df['id'].values[i])} for i in range(len(df))]
        [dict[i].update(df[col].values[i]) for i in range(len(df))]             # Create a new dictionary with id and specific attribute
        split_df = pd.json_normalize(dict)                                      # Conver json to dataframe
        split_df.to_csv('./fifa_transform_load/transform_data/attributes/{}_attribute.csv'.format(col), index= False)   # Store
        df.drop(col, axis= 1, inplace= True)                                    # Remove column from player's dataframe

In [150]:
split_player_attributes(df)

### Category to numeric.

In [ ]:
def cate_to_numer(cols):
    cols = cols.fillna("0")                         # Handle NaN value
    cols = cols.map(lambda x: x.replace('€', '')).map(lambda x: float(x.replace('M', '')) * 10**6 if x[-1] == 'M' 
                                                  else float(x.replace('K', '')) * 10**3)                         
    return cols

1. Wage and Value to numeric.

In [152]:
df['Value'].unique()

array(['€172.5M', '€115.5M', '€176M', '€174.5M', '€171.5M', '€117.5M',
       '€73.5M', '€114.5M', '€98.5M', '€122.5M', '€54.5M', '€82M', '€67M',
       '€51M', '€133.5M', '€84M', '€120M', '€118.5M', '€86M', '€89M',
       '€61M', '€62.5M', '€48.5M', '€58.5M', '€39M', '€29.5M', '€128M',
       '€105.5M', '€92M', '€88.5M', '€85M', '€85.5M', '€101.5M', '€91M',
       '€84.5M', '€68M', '€78M', '€77M', '€65.5M', '€42M'], dtype=object)

In [153]:
df[['Value', 'Wage']] = cate_to_numer(df[['Value', 'Wage']])

2. Release clause to numeric.

- Release clasue has Nan value.

In [154]:
df['Release clause'].unique()

array([' €332.1M', ' €213.7M', ' €374M', ' €370.8M', ' €364.4M',
       ' €193.9M', ' €136M', ' €188.9M', ' €194.5M', ' €235.8M',
       ' €100.8M', ' €151.7M', ' €124M', ' €104.6M', ' €230.3M',
       ' €155.4M', ' €255M', ' €228.1M', ' €152.7M', ' €164.7M',
       ' €112.9M', ' €128.1M', ' €101.9M', ' €122.9M', ' €80M', ' €41.3M',
       ' €236.8M', ' €203.1M', ' €177.1M', ' €163.6M', ' €151.8M', nan,
       ' €193.4M', ' €139.4M', ' €120.7M', ' €148.2M', ' €130.9M',
       ' €124.5M', ' €79.8M'], dtype=object)

In [155]:
df['Release clause'] = cate_to_numer(df['Release clause'])

### Birthdate to '%Y-%m-%d'

- Change birthdate values to daytime format.

In [156]:
df['birth_date'] = df['birth_date'].apply(lambda x: datetime.strptime(x, "%b %d, %Y"))

### Split 'teams' data to 'Club' and 'National Team'

- Teams values are dictionary so we split it into two columns 'Club' and 'National Team'.

In [157]:
df['Club'] = [list(df['teams'].values[i])[0] for i in range(len(df))]
df['National Team'] = [list(df['teams'].values[i])[1] for i in range(len(df))]
df.drop('teams', axis = 1, inplace = True)

### Remove specific characters in 'Player specialities'.

In [ ]:
def remove_char(specialities):
    new = [s.split('\xa0')[0] for s in specialities]        # Remove non-breaking space '\xa0'
    if not new:                                               
        new = 'null'                                        # Remove empty lists
    return new

In [159]:
df['Player specialities'] = df['Player specialities'].apply(remove_char)

## Load

In [161]:
df.head(5)

,id,name,positions,age,birth_date,height,weight,Overall rating,Potential,Value,...,Weak foot,International reputation,Body type,Real face,Release clause,Acceleration Type,Player specialities,PlayStyles,Club,National Team
0,239085,Erling Braut Håland,[ST],23,2000-07-21,195,94,91,93,172500000.0,...,3,5,Unique,Yes,332100000.0,Controlled Lengthy,"[#Aerial threat, #Distance shooter, #Strength,...","[Power Shot, Power Header, Bruiser, Press Proven]",Manchester City,Norway
1,231866,Rodrigo Hernández Cascante,"[CDM, CM]",28,1996-06-22,191,82,91,91,115500000.0,...,4,5,Normal (185+),Yes,213700000.0,Controlled Lengthy,[#Distance shooter],"[Power Shot, Long Ball Pass, Bruiser, Press Pr...",Manchester City,Spain
2,231747,Kylian Mbappé Lottin,"[ST, LW]",25,1998-12-20,182,75,91,94,176000000.0,...,4,5,Unique,Yes,374000000.0,Mostly Explosive,"[#Speedster, #Dribbler, #Acrobat, #Clinical fi...","[Finesse Shot, Rapid, Flair, Trivela, Acrobati...",Real Madrid,France
3,252371,Jude Victor William Bellingham,"[CAM, CM]",21,2003-06-29,186,75,90,94,174500000.0,...,4,5,Normal (170-185),Yes,370800000.0,Controlled Lengthy,"[#Dribbler, #Playmaker, #Clinical finisher, #C...","[Intercept, Slide Tackle, Technical, Flair]",Real Madrid,England
4,238794,Vinicius José Paixão de Oliveira Junior,"[LW, ST]",23,2000-07-12,176,73,90,94,171500000.0,...,4,5,Lean (170-185),Yes,364400000.0,Mostly Explosive,"[#Speedster, #Dribbler, #Acrobat, #Clinical fi...","[Finesse Shot, Chip Shot, Rapid, Flair, First ...",Real Madrid,null

In [162]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        41 non-null     int64
 1   name                      41 non-null     object
 2   positions                 41 non-null     object
 3   age                       41 non-null     int64
 4   birth_date                41 non-null     datetime64[ns]
 5   height                    41 non-null     int64
 6   weight                    41 non-null     int64
 7   Overall rating            41 non-null     int64
 8   Potential                 41 non-null     int64
 9   Value                     41 non-null     float64
 10  Wage                      41 non-null     float64
 11  Preferred foot            41 non-null     object
 12  Skill moves               41 non-null     int64
 13  Weak foot                 41 non-null     int64
 14  International reputation  41 non-null     int64
 15  Body type                 41 non-null     object
 16  Real face                 41 non-null     object
 17  Release clause            41 non-null     float64
 18  Acceleration Type         41 non-null     object
 19  Player specialities       41 non-null     object
 20  PlayStyles                41 non-null     object
 21  Club                      41 non-null     object
 22  National Team             41 non-null     object
dtypes: datetime64[ns](1), float64(3), int64(9), object(10)
memory usage: 7.5+ KB

In [ ]:
df.to_csv('./fifa_transform_load/transform_data/player/players_{}.csv'.format(str(datetime.now())), index= False)